.search{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
input{
    width: 50%;
    /* margin-right: auto; */
    /* margin-left: auto; */
    display: block;
    padding: 10px;
    border-radius: 5px;
}
button{
    padding: 10px;
    border-radius: 5px;
}